[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "/home/gus/.vim/bundle/vim-colors-solarized"]
	path = /home/gus/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-online-thesaurus"]
	path = bundle/vim-online-thesaurus
	url = https://github.com/beloglazov/vim-online-thesaurus.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim-multiple-cursors"]
	path = vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/LaTeX-Box"]
	path = bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/mswin"]
	path = bundle/mswin
	url = git@github.com:xguse/mswin.vim.git
